.wrapper {
    height: 101%;
}
.grid-1004 {
    width: 1004px;
    margin: 0 auto;
}
.header-top {
	position: relative;
	background: url('../img/header.png') no-repeat;
	height: 220px;
}
.company-name {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 30px;
}
.company-name p {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
}
.header-title {
	position: absolute;
	left: 50px;
	top: 40px;
	height: 80px;
	width: 200px;
	color: #FFF;
	font-size: 20px;
	letter-spacing: 3px;
	word-break: break-all;
}
.header-item {
    background-color: #1f4e7c;
    height: 35px;
    line-height: 35px;
}
.header-item ul {
    padding: 0 0 0 30px;
}
.header-item ul li {
    text-align: center;
    float: left;
    margin: 0 10px;
}
.header-item ul li.right {
    float: right;
}
.header-item ul li a {
    padding: 10px 5px;
    font-weight: bold;
    color: #FFF;
    font-size: 14px;
    outline: none;
    text-decoration: none;
}
.header-item ul li a:hover {
    background-color: #417bb6;
    text-decoration: none;
}
.header-item .search {
    position: relative;
    width: 206px;
    zoom: 1;
    float: right;
    margin-right: 20px;
}
.search form {
    display: inline-block;
}
#keyword {
    width: 200px;
    padding: 4px 3px;
    border: 0 none;
    border-radius: 0;
    height: auto;
    line-height: 16px;
}
#keyword:focus {
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.search input {
    vertical-align: middle;
    border: none;
    margin: 0;
}
#query-btn {
    position: absolute;
    right: 0;
    top: 6px;
    width: 24px;
    height: 24px;
    line-height: 0;
    text-indent: -9999px;
    background: url('../img/search.png') no-repeat;
    cursor: pointer;
}
.photo-show {
	/*background: url('../img/2.jpg');*/
    height: 380px;
    margin: 15px 0;
    background-color: #f5f5f5;
    position: relative;
}
.photo-show img {
	width: 1004px;
	height: 380px;
    position: absolute;
    top: 0;
    left: 0;
}
.slidebar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-align: right;
}
.slidebar a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    float: left;
    text-decoration: none;
    background: #000;
    color: #fff;
}
.slidebar a.active {
    background: #ff0000;
}
.intro-container {
    height: 230px;
    width: 100%;
}
.i-left, .i-right {
    float: left;
    height: 210px;
    width: 49%;
}
.i-right {
    float: right;
}
.intro-title {
    font-size: 14px;
}
.intro-title hr {
    border: 1px dashed #ddd;
}
.item-content {
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.item-content img {
    width: 246px;
    height: 180px;
}
