form {
    padding: 2px;
}
#publish_news input[type=text] {
    width: 220px;
}
#publish_news p {
    margin: 6px 0;
    font-size: 14px;
}
#publish_news .btn {
    margin-bottom: 20px;
    margin-right: 10px;
    margin: 20px 5px;
}
#query-btn {
    top: 8px;
}
